.formcontainer {/* Adjust the maximum height as needed */
    width: 80%;
    font-weight: 600;
  }

.jobseeker{
    background-image:url('../../../../public/company.png');
    background-size: fixed; /* Ensures the image covers the entire container */
    background-position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
} 
 
.company{
    color: lightseagreen;
}
.submit-btn{
    background-color: lightseagreen;
    color: white;
}
.submit-btn:hover{
    background-color: rgb(1, 127, 121) ;
    color: white;
    transition: all .2s ease-out;
}
.form-control{
    border: none;
    background-color: #DAF5FE;
}

